    <html lang="en">    
    <head>    
    <title>Weather Forecast</title>    
    </head>    
    <body>    
    <h1 style="color:blue;"> Weather Forecast </h1>
    <form action="weather" method="post">    
    <table>    
    <tr>    
    <td><label for="cityName">Please enter your City</label></td>    
    <td><input type="text" name="cityName"></input></td>    
     </tr>     
    <tr>    
    <td></td>    
    <td><input type="submit" value="Submit"></input></td>    
    </tr>    
    </table>    
    </form>    
    <footer>
  	<p>Created by Rishabh <a href="mailto:rishabh.kumar585@gmail.com"> Contact</a></p>
	</footer> 
    </body>    
    </html>  